@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #0E1016;
  line-height: 1;
  font-family: "Roboto', sans-serif;";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto', sans-serif;";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #0E1016;
  font-size: 1.25rem;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.836);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(63, 63, 63)), color-stop(1%, rgb(63, 63, 63)), to(rgb(255, 255, 255)));
  background: -o-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(63, 63, 63) 1%, rgb(255, 255, 255) 100%);
  background: linear-gradient(to bottom, rgb(63, 63, 63) 0%, rgb(63, 63, 63) 1%, rgb(255, 255, 255) 100%);
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  padding: 40px 30px;
}

.lock .popup__content {
  visibility: visible;
}

.popap__login {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popap__login label {
  margin: 0px 0px 20px 0px;
  color: white;
}

.popap__input-login {
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.651);
  max-width: 270px;
}

.popap__password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 20px 0px;
}

.popap__password label {
  margin: 0px 0px 20px 0px;
  color: white;
}

.popap__input-password {
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.651);
  max-width: 270px;
}

.popap__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 20px 0px;
}

.popap__user label {
  margin: 0px 20px 0px 0px;
  color: white;
}

.popap__input-radio:not(:last-child) {
  margin-right: 50px;
}

.popap__create {
  padding: 10px 15px;
  max-width: 130px;
  background-color: black;
  border-radius: 20px;
  border: 1px solid rgb(255, 252, 252);
  color: white;
  text-align: center;
  -webkit-box-shadow: 0px 12px 18px 4px black;
          box-shadow: 0px 12px 18px 4px black;
}

.popap__create:hover {
  -webkit-transform: translate(0px, 10px);
      -ms-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-box-shadow: 0px 2px 15px 4px rgb(0, 0, 0);
          box-shadow: 0px 2px 15px 4px rgb(0, 0, 0);
}

.popup .popap__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
  color: white;
}

.popup__close {
  width: 25px;
  height: 25px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__close:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup__close span::before,
.popup__close span::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.popup__close span::after {
  content: "";
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close span::before {
  content: "";
  top: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__inner {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  z-index: 5;
}

.menu__body .header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.6;
}

.menu__link:hover {
  color: #0099FF;
  opacity: 1;
}

.icon-menu {
  display: none;
}

.footer {
  background: rgba(0, 0, 0, 0.95);
  color: #778291;
}

.footer-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bottom__title {
  color: rgb(255, 2, 2);
}

.footer-bottom__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: white;
}

.footer-bottom__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.together__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.together__title {
  font-weight: 400;
  letter-spacing: 2px;
  max-width: 900px;
  text-align: center;
}

.together__form {
  max-width: 510px;
}

.together__text {
  font-weight: 400;
  line-height: 28px;
  color: #B2B2B2;
}

.together__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-together__text {
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #35393F;
}

.form-together__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #0099FF;
  border-radius: 8px 8px 8px 8px;
}

.form-together__input input {
  padding: 0px 0px 0px 10px;
  border-radius: 8px 8px 8px 8px;
}

.form-together__input button {
  border-radius: 0px 5px 5px 0px;
}

.form-together__input button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #0099FF;
  color: white;
}

.homerun__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homerun__title {
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1.5px;
}

.homerun__video img {
  border-radius: 20px;
  border: 5px solid #000;
}

.homerun__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 7px 10px rgba(134, 137, 139, 0.753);
          box-shadow: 0px 7px 10px rgba(134, 137, 139, 0.753);
  border-radius: 40px;
  -webkit-transform: translate(0px, -40px);
      -ms-transform: translate(0px, -40px);
          transform: translate(0px, -40px);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.homerun__play img {
  margin: 0px 5px 0px 0px;
}

.homerun__play:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.team-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.team-top__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-top__bg img {
  margin: 0px 0px 10px 0px;
}

.team-top__bg span {
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: rgba(14, 16, 22, 0.4);
}

.body-top__subtitle {
  font-weight: 700;
  line-height: 36px;
  color: #0C9F64;
}

.body-top__title {
  max-width: 370px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.body-top__text {
  max-width: 392px;
  font-weight: 400;
}

.body-top__button {
  text-align: center;
}

.team-bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-bottom__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-bottom__bg img {
  margin: 0px 0px 10px 0px;
}

.team-bottom__bg span {
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: rgba(14, 16, 22, 0.4);
}

.team-bottom__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.body-bottom__subtitle {
  font-weight: 700;
  line-height: 36px;
  color: #FEC104;
}

.body-bottom__title {
  max-width: 375px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.body-bottom__text {
  max-width: 392px;
  font-weight: 400;
}

.body-bottom__button {
  text-align: center;
}

.join__container {
  background: #202E78;
  border-radius: 20px;
  color: white;
}

.join__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-join__icon img {
  width: 100%;
}

.body-join__title {
  font-weight: 700;
  letter-spacing: 1.5px;
}

.body-join__text {
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  max-width: 720px;
}

.body-join__button {
  padding: 15px 22px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-join__button:hover {
  background-color: white;
  color: #202E78;
}

.body-join__img {
  max-width: 600px;
}

.swiper-slide {
  margin: 0px 0px 20px 0px;
}

.join-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.info-body {
  background: #000639;
  border-radius: 0px 20px 20px 0px;
}

.info-body__text {
  font-weight: 400;
  line-height: 36px;
}

.info-body__text :first-child {
  margin: 0px 0px 20px 0px;
}

.info-body__text h4 {
  line-height: 31px;
}

.info-body__text :last-child {
  line-height: 31px;
}

.info-body__btn {
  padding: 15px 22px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-body__btn:hover {
  background-color: white;
  color: #202E78;
}

.swiper-slide {
  position: relative;
}

.swiper-pagination-horizontal {
  position: relative;
  top: 3px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 0px;
}

.swiper-button-prev {
  -webkit-animation: prev 1s infinite linear;
          animation: prev 1s infinite linear;
}

@-webkit-keyframes prev {
  0% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }

  50% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }

  100% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
}

@keyframes prev {
  0% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }

  50% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }

  100% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
}

.swiper-button-next {
  -webkit-animation: next 1s infinite linear;
          animation: next 1s infinite linear;
}

@-webkit-keyframes next {
  0% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }

  50% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }

  100% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }
}

@keyframes next {
  0% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }

  50% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }

  100% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }
}

.swiper-scrollbar {
  display: none;
  z-index: 3;
}

.kickstart {
  color: white;
}

.kickstart__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #181818;
  border-radius: 20px;
}

.kickstart__title {
  max-width: 700px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.kickstart__text {
  font-weight: 400;
  line-height: 31px;
  text-align: center;
}

.kickstart__bg img {
  width: 100%;
}

.items-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-stars__logo {
  margin: 0px 0px 20px 0px;
}

.item-stars__logo img {
  width: 100%;
}

.item-stars__num {
  font-weight: 700;
  margin: 0px 0px 14px 0px;
}

.item-stars__rating {
  margin: 0px 0px 25px 0px;
}

.item-stars__rating img {
  width: 100%;
}

.item-stars__info {
  font-weight: 400;
  text-align: center;
  line-height: 28px;
}

.body-stars {
  background: #3CA9FF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.body-stars h4 {
  background: #F64775;
  border-radius: 20px;
  padding: 3px 15px;
  font-size: 17px;
  line-height: 27px;
  margin: 0px 0px 16px 0px;
}

.body-stars__logo img {
  width: 100%;
}

.body-stars__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
}

.body-stars__btn {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-stars__btn:hover {
  background-color: white;
  color: #000;
  border: 1px solid #000;
}

.body-stars__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-stars__subtitle {
  font-size: 16px;
  line-height: 24px;
}

.body-stars__subtitle::before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  background: url(../img/stars-done.svg) no-repeat center;
  right: 5px;
}

.btn__white {
  background-color: #FFFFFF;
  border: 2px solid #F8F4F4;
  border-radius: 8px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn__white:hover {
  background-color: #0E1016;
  color: #FFFFFF;
}

.btn__blue {
  background-color: #0099FF;
  border: 2px solid #0099FF;
  border-radius: 8px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn__blue:hover {
  background-color: #FFFFFF;
  color: #0E1016;
}

@media (min-width: 79.375em) {
  .popap__login label {
    font-size: 1.25rem;
  }

  .popap__password label {
    font-size: 1.25rem;
  }

  .popap__user label {
    font-size: 1.25rem;
  }

  .popup .popap__title {
    font-size: 1.875rem;
  }

  .menu__list {
    gap: 2.875rem;
  }

  .menu__link {
    font-size: 1.25rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 3.75rem;
  }

  .footer-top {
    margin-bottom: 4.75rem;
  }

  .footer-bottom__menu {
    gap: 7.5rem;
  }

  .footer-bottom__menu {
    margin-bottom: 2.5rem;
  }

  .footer-bottom__title {
    margin-bottom: 2.5rem;
  }

  .footer-bottom__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .together {
    padding-bottom: 5.625rem;
  }

  .together__title {
    font-size: 7.5rem;
  }

  .together__title {
    line-height: 6.875rem;
  }

  .together__title {
    margin-bottom: 4.5625rem;
  }

  .together__text {
    font-size: 1.25rem;
  }

  .form-together__text {
    font-size: 1.625rem;
  }

  .form-together__text {
    margin-bottom: 2.0625rem;
  }

  .form-together__input {
    margin-bottom: 2.75rem;
  }

  .homerun {
    padding-bottom: 8.75rem;
  }

  .homerun__title {
    font-size: 2.25rem;
  }

  .homerun__title {
    margin-bottom: 1.875rem;
  }

  .homerun__play {
    padding-top: 1.3125rem;
  }

  .homerun__play {
    padding-bottom: 1.3125rem;
  }

  .homerun__play {
    padding-left: 1.3125rem;
  }

  .homerun__play {
    padding-right: 1.3125rem;
  }

  .team {
    padding-bottom: 8.6875rem;
  }

  .team-top {
    padding-bottom: 13.125rem;
  }

  .team-top__row {
    gap: 5.6875rem;
  }

  .team-top__bg span {
    font-size: 1rem;
  }

  .body-top__subtitle {
    font-size: 1.875rem;
  }

  .body-top__subtitle {
    margin-bottom: 0.9375rem;
  }

  .body-top__title {
    font-size: 3.5rem;
  }

  .body-top__title {
    margin-bottom: 1.5rem;
  }

  .body-top__title {
    line-height: 4rem;
  }

  .body-top__text {
    font-size: 1.375rem;
  }

  .body-top__text {
    line-height: 1.9375rem;
  }

  .body-top__text {
    margin-bottom: 1.625rem;
  }

  .team-bottom__row {
    gap: 2.5625rem;
  }

  .team-bottom__bg span {
    font-size: 1rem;
  }

  .body-bottom__subtitle {
    font-size: 1.875rem;
  }

  .body-bottom__subtitle {
    margin-bottom: 0.9375rem;
  }

  .body-bottom__title {
    font-size: 3.5rem;
  }

  .body-bottom__title {
    margin-bottom: 1.5rem;
  }

  .body-bottom__title {
    line-height: 4rem;
  }

  .body-bottom__text {
    font-size: 1.375rem;
  }

  .body-bottom__text {
    line-height: 1.9375rem;
  }

  .body-bottom__text {
    margin-bottom: 1.625rem;
  }

  .join {
    padding-bottom: 2.5rem;
  }

  .join__container {
    padding-bottom: 3.75rem;
  }

  .join__body {
    padding-top: 4.375rem;
  }

  .join__body {
    padding-bottom: 4.375rem;
  }

  .body-join__icon {
    margin-bottom: 1.5rem;
  }

  .body-join__title {
    font-size: 3.5rem;
  }

  .body-join__title {
    line-height: 3.5rem;
  }

  .body-join__title {
    margin-bottom: 1.5rem;
  }

  .body-join__text {
    font-size: 1.375rem;
  }

  .body-join__text {
    margin-bottom: 4.3125rem;
  }

  .info-body {
    padding-top: 2.5rem;
  }

  .info-body {
    padding-bottom: 4.375rem;
  }

  .info-body {
    padding-right: 4.375rem;
  }

  .info-body {
    padding-left: 2.5rem;
  }

  .info-body__logo {
    margin-bottom: 2.4375rem;
  }

  .info-body__text {
    font-size: 1.875rem;
  }

  .info-body__text {
    margin-bottom: 4.125rem;
  }

  .info-body__text h4 {
    font-size: 1.375rem;
  }

  .info-body__text :last-child {
    font-size: 1.375rem;
  }

  .kickstart__container {
    padding-top: 7.25rem;
  }

  .kickstart__container {
    padding-bottom: 1.25rem;
  }

  .kickstart__title {
    font-size: 3.5rem;
  }

  .kickstart__title {
    margin-bottom: 1.5rem;
  }

  .kickstart__title {
    line-height: 4rem;
  }

  .kickstart__text {
    font-size: 1.375rem;
  }

  .kickstart__text {
    margin-bottom: 5.625rem;
  }

  .stars {
    padding-top: 10rem;
  }

  .stars {
    padding-bottom: 3.75rem;
  }

  .items-stars {
    margin-bottom: 8.3125rem;
  }

  .item-stars__num {
    font-size: 5.125rem;
  }

  .item-stars__num {
    line-height: 7.1875rem;
  }

  .item-stars__info {
    font-size: 1.25rem;
  }

  .body-stars {
    padding-top: 3.75rem;
  }

  .body-stars {
    padding-bottom: 3.75rem;
  }

  .body-stars__title {
    font-size: 3.5625rem;
  }

  .body-stars__title {
    line-height: 4rem;
  }

  .body-stars__title {
    margin-bottom: 1.5625rem;
  }

  .body-stars__btn {
    padding-top: 0.9375rem;
  }

  .body-stars__btn {
    padding-bottom: 0.9375rem;
  }

  .body-stars__btn {
    padding-left: 1.375rem;
  }

  .body-stars__btn {
    padding-right: 1.375rem;
  }

  .body-stars__btn {
    margin-bottom: 1.9375rem;
  }

  .body-stars__btn {
    font-size: 1.125rem;
  }

  .body-stars__footer {
    gap: 3.1875rem;
  }

  .btn__white {
    padding-top: 0.9375rem;
  }

  .btn__white {
    padding-bottom: 0.9375rem;
  }

  .btn__white {
    padding-left: 1.375rem;
  }

  .btn__white {
    padding-right: 1.375rem;
  }

  .btn__white {
    font-size: 1.125rem;
  }

  .btn__blue {
    padding-top: 0.9375rem;
  }

  .btn__blue {
    padding-bottom: 0.9375rem;
  }

  .btn__blue {
    padding-left: 1.375rem;
  }

  .btn__blue {
    padding-right: 1.375rem;
  }

  .btn__blue {
    font-size: 1.125rem;
  }
}

@media (max-width: 1120px) {
  .together__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1049px) {
  .body-join__info {
    max-width: 600px;
  }

  .join-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info-body {
    border-radius: 0px;
  }

  .body-join__img {
    border-radius: 0px;
  }
}

@media (max-width: 961px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -200%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, rgb(255, 255, 255)), to(rgb(89, 89, 89)));
    background: -o-linear-gradient(top, rgb(255, 255, 255) 16%, rgb(89, 89, 89) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 16%, rgb(89, 89, 89) 100%);
    overflow: auto;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 94px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(121, 121, 121)), color-stop(36%, rgb(161, 159, 159)), color-stop(88%, rgba(255, 255, 255, 0.79)), to(rgba(255, 255, 255, 0.74)));
    background: -o-linear-gradient(top, rgb(121, 121, 121) 0%, rgb(161, 159, 159) 36%, rgba(255, 255, 255, 0.79) 88%, rgba(255, 255, 255, 0.74) 100%);
    background: linear-gradient(to bottom, rgb(121, 121, 121) 0%, rgb(161, 159, 159) 36%, rgba(255, 255, 255, 0.79) 88%, rgba(255, 255, 255, 0.74) 100%);
    left: 0;
    top: -100%;
    -webkit-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
    z-index: 1;
  }

  .menu-open .menu__body::before {
    top: 0%;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 140px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    margin: 0px 0px 0px 20px;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 961px) and (max-width: 20em) {
  .menu__item {
    margin-bottom: 1.875rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }
}

@media (max-width: 800px) {
  .team-top__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-top__title {
    max-width: 100%;
  }

  .body-top__text {
    max-width: 100%;
  }

  .team-bottom__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-bottom__title {
    max-width: 100%;
  }

  .body-bottom__text {
    max-width: 100%;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-scrollbar {
    display: block;
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
}

@media (max-width: 710px) {
  .items-stars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 710px) and (max-width: 20em) {
  .items-stars {
    gap: 2.5rem;
  }
}

@media (max-width: 600px) {
  .footer-bottom__menu {
    display: none;
  }
}

@media (max-width: 500px) {
  .popap__create {
    max-width: 100%;
  }

  .body-stars__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 400px) {
  .form-together__input input {
    max-width: 140px;
  }

  .homerun__play span {
    display: none;
  }

  .homerun__play img {
    margin: 0;
  }

  .team-top__body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .team-bottom__body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 20em) {
  .popap__login label {
    font-size: 1.0625rem;
  }

  .popap__password label {
    font-size: 1.0625rem;
  }

  .popap__user label {
    font-size: 1.0625rem;
  }

  .popup .popap__title {
    font-size: 1.0625rem;
  }

  .menu__list {
    gap: 0.625rem;
  }

  .menu__link {
    font-size: 0.75rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer-top {
    margin-bottom: 1.875rem;
  }

  .footer-bottom__menu {
    gap: 1.25rem;
  }

  .footer-bottom__menu {
    margin-bottom: 0.625rem;
  }

  .footer-bottom__title {
    margin-bottom: 0.625rem;
  }

  .footer-bottom__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .together {
    padding-bottom: 2.5rem;
  }

  .together__title {
    font-size: 2.1875rem;
  }

  .together__title {
    line-height: 2.5rem;
  }

  .together__title {
    margin-bottom: 1.875rem;
  }

  .together__text {
    font-size: 0.875rem;
  }

  .form-together__text {
    font-size: 1rem;
  }

  .form-together__text {
    margin-bottom: 0.625rem;
  }

  .form-together__input {
    margin-bottom: 0.625rem;
  }

  .homerun {
    padding-bottom: 1.875rem;
  }

  .homerun__title {
    font-size: 1rem;
  }

  .homerun__title {
    margin-bottom: 1.125rem;
  }

  .homerun__play {
    padding-top: 0.625rem;
  }

  .homerun__play {
    padding-bottom: 0.625rem;
  }

  .homerun__play {
    padding-left: 0.625rem;
  }

  .homerun__play {
    padding-right: 0.625rem;
  }

  .team {
    padding-bottom: 2.5rem;
  }

  .team-top {
    padding-bottom: 2.5rem;
  }

  .team-top__row {
    gap: 1.25rem;
  }

  .team-top__bg span {
    font-size: 0.625rem;
  }

  .body-top__subtitle {
    font-size: 0.875rem;
  }

  .body-top__subtitle {
    margin-bottom: 0.625rem;
  }

  .body-top__title {
    font-size: 1.25rem;
  }

  .body-top__title {
    margin-bottom: 0.9375rem;
  }

  .body-top__title {
    line-height: 1.25rem;
  }

  .body-top__text {
    font-size: 0.875rem;
  }

  .body-top__text {
    line-height: 1.25rem;
  }

  .body-top__text {
    margin-bottom: 0.9375rem;
  }

  .team-bottom__row {
    gap: 1.25rem;
  }

  .team-bottom__bg span {
    font-size: 0.625rem;
  }

  .body-bottom__subtitle {
    font-size: 0.875rem;
  }

  .body-bottom__subtitle {
    margin-bottom: 0.625rem;
  }

  .body-bottom__title {
    font-size: 1.25rem;
  }

  .body-bottom__title {
    margin-bottom: 0.9375rem;
  }

  .body-bottom__title {
    line-height: 1.25rem;
  }

  .body-bottom__text {
    font-size: 0.875rem;
  }

  .body-bottom__text {
    line-height: 1.25rem;
  }

  .body-bottom__text {
    margin-bottom: 0.9375rem;
  }

  .join {
    padding-bottom: 1.25rem;
  }

  .join__container {
    padding-bottom: 1.25rem;
  }

  .join__body {
    padding-top: 2.5rem;
  }

  .join__body {
    padding-bottom: 1.875rem;
  }

  .body-join__icon {
    margin-bottom: 0.9375rem;
  }

  .body-join__title {
    font-size: 1.25rem;
  }

  .body-join__title {
    line-height: 1.875rem;
  }

  .body-join__title {
    margin-bottom: 0.9375rem;
  }

  .body-join__text {
    font-size: 1rem;
  }

  .body-join__text {
    margin-bottom: 1.5625rem;
  }

  .info-body {
    padding-top: 1.25rem;
  }

  .info-body {
    padding-bottom: 2.5rem;
  }

  .info-body {
    padding-right: 1.875rem;
  }

  .info-body {
    padding-left: 1.25rem;
  }

  .info-body__logo {
    margin-bottom: 0.9375rem;
  }

  .info-body__text {
    font-size: 1rem;
  }

  .info-body__text {
    margin-bottom: 1.875rem;
  }

  .info-body__text h4 {
    font-size: 0.875rem;
  }

  .info-body__text :last-child {
    font-size: 0.875rem;
  }

  .kickstart__container {
    padding-top: 2.5rem;
  }

  .kickstart__container {
    padding-bottom: 0.625rem;
  }

  .kickstart__title {
    font-size: 1.875rem;
  }

  .kickstart__title {
    margin-bottom: 0.625rem;
  }

  .kickstart__title {
    line-height: 2.1875rem;
  }

  .kickstart__text {
    font-size: 1rem;
  }

  .kickstart__text {
    margin-bottom: 2.5rem;
  }

  .stars {
    padding-top: 2.5rem;
  }

  .stars {
    padding-bottom: 2.5rem;
  }

  .items-stars {
    margin-bottom: 2.5rem;
  }

  .item-stars__num {
    font-size: 1.875rem;
  }

  .item-stars__num {
    line-height: 3.125rem;
  }

  .item-stars__info {
    font-size: 1rem;
  }

  .body-stars {
    padding-top: 1.875rem;
  }

  .body-stars {
    padding-bottom: 1.875rem;
  }

  .body-stars__title {
    font-size: 1.375rem;
  }

  .body-stars__title {
    line-height: 2.1875rem;
  }

  .body-stars__title {
    margin-bottom: 0.9375rem;
  }

  .body-stars__btn {
    padding-top: 0.625rem;
  }

  .body-stars__btn {
    padding-bottom: 0.625rem;
  }

  .body-stars__btn {
    padding-left: 0.9375rem;
  }

  .body-stars__btn {
    padding-right: 0.9375rem;
  }

  .body-stars__btn {
    margin-bottom: 0.9375rem;
  }

  .body-stars__btn {
    font-size: 0.75rem;
  }

  .body-stars__footer {
    gap: 0.625rem;
  }

  .btn__white {
    padding-top: 0.625rem;
  }

  .btn__white {
    padding-bottom: 0.625rem;
  }

  .btn__white {
    padding-left: 0.9375rem;
  }

  .btn__white {
    padding-right: 0.9375rem;
  }

  .btn__white {
    font-size: 0.75rem;
  }

  .btn__blue {
    padding-top: 0.625rem;
  }

  .btn__blue {
    padding-bottom: 0.625rem;
  }

  .btn__blue {
    padding-left: 0.9375rem;
  }

  .btn__blue {
    padding-right: 0.9375rem;
  }

  .btn__blue {
    font-size: 0.75rem;
  }
}

@media (min-width: 20em) and (max-width: 79.375em) {
  .popap__login label {
    font-size: clamp( 1.0625rem , 0.9993421053rem  +  0.3157894737vw , 1.25rem );
  }

  .popap__password label {
    font-size: clamp( 1.0625rem , 0.9993421053rem  +  0.3157894737vw , 1.25rem );
  }

  .popap__user label {
    font-size: clamp( 1.0625rem , 0.9993421053rem  +  0.3157894737vw , 1.25rem );
  }

  .popup .popap__title {
    font-size: clamp( 1.0625rem , 0.7888157895rem  +  1.3684210526vw , 1.875rem );
  }

  .menu__list {
    gap: clamp( 0.625rem , -0.1328947368rem  +  3.7894736842vw , 2.875rem );
  }

  .menu__link {
    font-size: clamp( 0.75rem , 0.5815789474rem  +  0.8421052632vw , 1.25rem );
  }

  .footer {
    padding-top: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }

  .footer {
    padding-bottom: clamp( 1.25rem , 0.4078947368rem  +  4.2105263158vw , 3.75rem );
  }

  .footer-top {
    margin-bottom: clamp( 1.875rem , 0.9065789474rem  +  4.8421052632vw , 4.75rem );
  }

  .footer-bottom__menu {
    gap: clamp( 1.25rem , -0.8552631579rem  +  10.5263157895vw , 7.5rem );
  }

  .footer-bottom__menu {
    margin-bottom: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem );
  }

  .footer-bottom__title {
    margin-bottom: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem );
  }

  .footer-bottom__item:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4144736842rem  +  1.0526315789vw , 1.25rem );
  }

  .together {
    padding-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5.625rem );
  }

  .together__title {
    font-size: clamp( 2.1875rem , 0.3980263158rem  +  8.9473684211vw , 7.5rem );
  }

  .together__title {
    line-height: clamp( 2.5rem , 1.0263157895rem  +  7.3684210526vw , 6.875rem );
  }

  .together__title {
    margin-bottom: clamp( 1.875rem , 0.9697368421rem  +  4.5263157895vw , 4.5625rem );
  }

  .together__text {
    font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem );
  }

  .form-together__text {
    font-size: clamp( 1rem , 0.7894736842rem  +  1.0526315789vw , 1.625rem );
  }

  .form-together__text {
    margin-bottom: clamp( 0.625rem , 0.1407894737rem  +  2.4210526316vw , 2.0625rem );
  }

  .form-together__input {
    margin-bottom: clamp( 0.625rem , -0.0907894737rem  +  3.5789473684vw , 2.75rem );
  }

  .homerun {
    padding-bottom: clamp( 1.875rem , -0.4407894737rem  +  11.5789473684vw , 8.75rem );
  }

  .homerun__title {
    font-size: clamp( 1rem , 0.5789473684rem  +  2.1052631579vw , 2.25rem );
  }

  .homerun__title {
    margin-bottom: clamp( 1.125rem , 0.8723684211rem  +  1.2631578947vw , 1.875rem );
  }

  .homerun__play {
    padding-top: clamp( 0.625rem , 0.3934210526rem  +  1.1578947368vw , 1.3125rem );
  }

  .homerun__play {
    padding-bottom: clamp( 0.625rem , 0.3934210526rem  +  1.1578947368vw , 1.3125rem );
  }

  .homerun__play {
    padding-left: clamp( 0.625rem , 0.3934210526rem  +  1.1578947368vw , 1.3125rem );
  }

  .homerun__play {
    padding-right: clamp( 0.625rem , 0.3934210526rem  +  1.1578947368vw , 1.3125rem );
  }

  .team {
    padding-bottom: clamp( 2.5rem , 0.4157894737rem  +  10.4210526316vw , 8.6875rem );
  }

  .team-top {
    padding-bottom: clamp( 2.5rem , -1.0789473684rem  +  17.8947368421vw , 13.125rem );
  }

  .team-top__row {
    gap: clamp( 1.25rem , -0.2447368421rem  +  7.4736842105vw , 5.6875rem );
  }

  .team-top__bg span {
    font-size: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
  }

  .body-top__subtitle {
    font-size: clamp( 0.875rem , 0.5381578947rem  +  1.6842105263vw , 1.875rem );
  }

  .body-top__subtitle {
    margin-bottom: clamp( 0.625rem , 0.5197368421rem  +  0.5263157895vw , 0.9375rem );
  }

  .body-top__title {
    font-size: clamp( 1.25rem , 0.4921052632rem  +  3.7894736842vw , 3.5rem );
  }

  .body-top__title {
    margin-bottom: clamp( 0.9375rem , 0.7480263158rem  +  0.9473684211vw , 1.5rem );
  }

  .body-top__title {
    line-height: clamp( 1.25rem , 0.3236842105rem  +  4.6315789474vw , 4rem );
  }

  .body-top__text {
    font-size: clamp( 0.875rem , 0.7065789474rem  +  0.8421052632vw , 1.375rem );
  }

  .body-top__text {
    line-height: clamp( 1.25rem , 1.0184210526rem  +  1.1578947368vw , 1.9375rem );
  }

  .body-top__text {
    margin-bottom: clamp( 0.9375rem , 0.7059210526rem  +  1.1578947368vw , 1.625rem );
  }

  .team-bottom__row {
    gap: clamp( 1.25rem , 0.8078947368rem  +  2.2105263158vw , 2.5625rem );
  }

  .team-bottom__bg span {
    font-size: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
  }

  .body-bottom__subtitle {
    font-size: clamp( 0.875rem , 0.5381578947rem  +  1.6842105263vw , 1.875rem );
  }

  .body-bottom__subtitle {
    margin-bottom: clamp( 0.625rem , 0.5197368421rem  +  0.5263157895vw , 0.9375rem );
  }

  .body-bottom__title {
    font-size: clamp( 1.25rem , 0.4921052632rem  +  3.7894736842vw , 3.5rem );
  }

  .body-bottom__title {
    margin-bottom: clamp( 0.9375rem , 0.7480263158rem  +  0.9473684211vw , 1.5rem );
  }

  .body-bottom__title {
    line-height: clamp( 1.25rem , 0.3236842105rem  +  4.6315789474vw , 4rem );
  }

  .body-bottom__text {
    font-size: clamp( 0.875rem , 0.7065789474rem  +  0.8421052632vw , 1.375rem );
  }

  .body-bottom__text {
    line-height: clamp( 1.25rem , 1.0184210526rem  +  1.1578947368vw , 1.9375rem );
  }

  .body-bottom__text {
    margin-bottom: clamp( 0.9375rem , 0.7059210526rem  +  1.1578947368vw , 1.625rem );
  }

  .join {
    padding-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem );
  }

  .join__container {
    padding-bottom: clamp( 1.25rem , 0.4078947368rem  +  4.2105263158vw , 3.75rem );
  }

  .join__body {
    padding-top: clamp( 2.5rem , 1.8684210526rem  +  3.1578947368vw , 4.375rem );
  }

  .join__body {
    padding-bottom: clamp( 1.875rem , 1.0328947368rem  +  4.2105263158vw , 4.375rem );
  }

  .body-join__icon {
    margin-bottom: clamp( 0.9375rem , 0.7480263158rem  +  0.9473684211vw , 1.5rem );
  }

  .body-join__title {
    font-size: clamp( 1.25rem , 0.4921052632rem  +  3.7894736842vw , 3.5rem );
  }

  .body-join__title {
    line-height: clamp( 1.875rem , 1.3276315789rem  +  2.7368421053vw , 3.5rem );
  }

  .body-join__title {
    margin-bottom: clamp( 0.9375rem , 0.7480263158rem  +  0.9473684211vw , 1.5rem );
  }

  .body-join__text {
    font-size: clamp( 1rem , 0.8736842105rem  +  0.6315789474vw , 1.375rem );
  }

  .body-join__text {
    margin-bottom: clamp( 1.5625rem , 0.6361842105rem  +  4.6315789474vw , 4.3125rem );
  }

  .info-body {
    padding-top: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem );
  }

  .info-body {
    padding-bottom: clamp( 2.5rem , 1.8684210526rem  +  3.1578947368vw , 4.375rem );
  }

  .info-body {
    padding-right: clamp( 1.875rem , 1.0328947368rem  +  4.2105263158vw , 4.375rem );
  }

  .info-body {
    padding-left: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem );
  }

  .info-body__logo {
    margin-bottom: clamp( 0.9375rem , 0.4322368421rem  +  2.5263157895vw , 2.4375rem );
  }

  .info-body__text {
    font-size: clamp( 1rem , 0.7052631579rem  +  1.4736842105vw , 1.875rem );
  }

  .info-body__text {
    margin-bottom: clamp( 1.875rem , 1.1171052632rem  +  3.7894736842vw , 4.125rem );
  }

  .info-body__text h4 {
    font-size: clamp( 0.875rem , 0.7065789474rem  +  0.8421052632vw , 1.375rem );
  }

  .info-body__text :last-child {
    font-size: clamp( 0.875rem , 0.7065789474rem  +  0.8421052632vw , 1.375rem );
  }

  .kickstart__container {
    padding-top: clamp( 2.5rem , 0.9rem  +  8vw , 7.25rem );
  }

  .kickstart__container {
    padding-bottom: clamp( 0.625rem , 0.4144736842rem  +  1.0526315789vw , 1.25rem );
  }

  .kickstart__title {
    font-size: clamp( 1.875rem , 1.3276315789rem  +  2.7368421053vw , 3.5rem );
  }

  .kickstart__title {
    margin-bottom: clamp( 0.625rem , 0.3302631579rem  +  1.4736842105vw , 1.5rem );
  }

  .kickstart__title {
    line-height: clamp( 2.1875rem , 1.5769736842rem  +  3.0526315789vw , 4rem );
  }

  .kickstart__text {
    font-size: clamp( 1rem , 0.8736842105rem  +  0.6315789474vw , 1.375rem );
  }

  .kickstart__text {
    margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5.625rem );
  }

  .stars {
    padding-top: clamp( 2.5rem , -0.0263157895rem  +  12.6315789474vw , 10rem );
  }

  .stars {
    padding-bottom: clamp( 2.5rem , 2.0789473684rem  +  2.1052631579vw , 3.75rem );
  }

  .items-stars {
    margin-bottom: clamp( 2.5rem , 0.5421052632rem  +  9.7894736842vw , 8.3125rem );
  }

  .item-stars__num {
    font-size: clamp( 1.875rem , 0.7802631579rem  +  5.4736842105vw , 5.125rem );
  }

  .item-stars__num {
    line-height: clamp( 3.125rem , 1.7565789474rem  +  6.8421052632vw , 7.1875rem );
  }

  .item-stars__info {
    font-size: clamp( 1rem , 0.9157894737rem  +  0.4210526316vw , 1.25rem );
  }

  .body-stars {
    padding-top: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem );
  }

  .body-stars {
    padding-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem );
  }

  .body-stars__title {
    font-size: clamp( 1.375rem , 0.6381578947rem  +  3.6842105263vw , 3.5625rem );
  }

  .body-stars__title {
    line-height: clamp( 2.1875rem , 1.5769736842rem  +  3.0526315789vw , 4rem );
  }

  .body-stars__title {
    margin-bottom: clamp( 0.9375rem , 0.7269736842rem  +  1.0526315789vw , 1.5625rem );
  }

  .body-stars__btn {
    padding-top: clamp( 0.625rem , 0.5197368421rem  +  0.5263157895vw , 0.9375rem );
  }

  .body-stars__btn {
    padding-bottom: clamp( 0.625rem , 0.5197368421rem  +  0.5263157895vw , 0.9375rem );
  }

  .body-stars__btn {
    padding-left: clamp( 0.9375rem , 0.7901315789rem  +  0.7368421053vw , 1.375rem );
  }

  .body-stars__btn {
    padding-right: clamp( 0.9375rem , 0.7901315789rem  +  0.7368421053vw , 1.375rem );
  }

  .body-stars__btn {
    margin-bottom: clamp( 0.9375rem , 0.6006578947rem  +  1.6842105263vw , 1.9375rem );
  }

  .body-stars__btn {
    font-size: clamp( 0.75rem , 0.6236842105rem  +  0.6315789474vw , 1.125rem );
  }

  .body-stars__footer {
    gap: clamp( 0.625rem , -0.2381578947rem  +  4.3157894737vw , 3.1875rem );
  }

  .btn__white {
    padding-top: clamp( 0.625rem , 0.5197368421rem  +  0.5263157895vw , 0.9375rem );
  }

  .btn__white {
    padding-bottom: clamp( 0.625rem , 0.5197368421rem  +  0.5263157895vw , 0.9375rem );
  }

  .btn__white {
    padding-left: clamp( 0.9375rem , 0.7901315789rem  +  0.7368421053vw , 1.375rem );
  }

  .btn__white {
    padding-right: clamp( 0.9375rem , 0.7901315789rem  +  0.7368421053vw , 1.375rem );
  }

  .btn__white {
    font-size: clamp( 0.75rem , 0.6236842105rem  +  0.6315789474vw , 1.125rem );
  }

  .btn__blue {
    padding-top: clamp( 0.625rem , 0.5197368421rem  +  0.5263157895vw , 0.9375rem );
  }

  .btn__blue {
    padding-bottom: clamp( 0.625rem , 0.5197368421rem  +  0.5263157895vw , 0.9375rem );
  }

  .btn__blue {
    padding-left: clamp( 0.9375rem , 0.7901315789rem  +  0.7368421053vw , 1.375rem );
  }

  .btn__blue {
    padding-right: clamp( 0.9375rem , 0.7901315789rem  +  0.7368421053vw , 1.375rem );
  }

  .btn__blue {
    font-size: clamp( 0.75rem , 0.6236842105rem  +  0.6315789474vw , 1.125rem );
  }
}

@media (max-width: 961px) and (min-width: 79.375em) {
  .menu__item {
    margin-bottom: 3.125rem;
  }

  .menu__link {
    font-size: 2.1875rem;
  }
}

@media (max-width: 961px) and (min-width: 20em) and (max-width: 79.375em) {
  .menu__item {
    margin-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
  }

  .menu__link {
    font-size: clamp( 1.875rem , 1.7697368421rem  +  0.5263157895vw , 2.1875rem );
  }
}

@media (max-width: 710px) and (min-width: 79.375em) {
  .items-stars {
    gap: 4.375rem;
  }
}

@media (max-width: 710px) and (min-width: 20em) and (max-width: 79.375em) {
  .items-stars {
    gap: clamp( 2.5rem , 1.8684210526rem  +  3.1578947368vw , 4.375rem );
  }
}